In [1]:
import pandas as pd

In [57]:
df = pd.read_csv('fixed_file.csv')
df

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,C,Gabriel Moreno,23,111,380,341,33,97,19,1,...,.339,.408,.747,104,139,17,3,0,7,NaN
1,1B,Christian Walker,32,157,661,582,86,150,36,2,...,.333,.497,.830,123,289,13,8,0,8,NaN
2,2B,Ketel Marte#,29,150,650,569,94,157,26,9,...,.358,.485,.844,128,276,16,5,0,5,NaN
3,SS,Geraldo Perdomo#,23,144,495,407,71,100,20,4,...,.353,.359,.712,96,146,2,6,14,4,NaN
4,3B,Emmanuel Rivera,27,86,283,257,32,67,13,0,...,.314,.358,.672,84,92,9,0,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,P,Chad Kuhl,30,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1793,P,MacKenzie Gore*,24,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1794,NaN,Team Totals,26.9,162,6085,5522,700,1401,279,26,...,.314,.396,.709,95,2185,112,78,20,38,NaN
1795,NaN,Rank in 15 NL teams,NaN,NaN,NaN,4,12,5,6,7,...,13,12,12,NaN,11,NaN,5,NaN,11,NaN
1796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'*' - Player bats Left Handed
'#' - Player bats both ways

What is the best lineup based purely on OBP?

In [58]:
# Cleaning the data to format as int and float values
# After cleaning, filter the db to only include batters over 100 plate appearances  
df.replace('NULL', 0, inplace=True)
df['PA'].fillna(0, inplace=True)
df['PA'] = pd.to_numeric(df['PA'], errors='coerce').fillna(0).astype(int)
df.replace('NULL', 0, inplace=True)
df['OBP'].fillna(0, inplace=True)
df['OBP'] = pd.to_numeric(df['OBP'], errors='coerce').fillna(0).astype(float)
db = df[df['PA']>100]
db

,Pos,Name,Age,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,C,Gabriel Moreno,23,111,380,341,33,97,19,1,...,0.339,.408,.747,104,139,17,3,0,7,NaN
1,1B,Christian Walker,32,157,661,582,86,150,36,2,...,0.333,.497,.830,123,289,13,8,0,8,NaN
2,2B,Ketel Marte#,29,150,650,569,94,157,26,9,...,0.358,.485,.844,128,276,16,5,0,5,NaN
3,SS,Geraldo Perdomo#,23,144,495,407,71,100,20,4,...,0.353,.359,.712,96,146,2,6,14,4,NaN
4,3B,Emmanuel Rivera,27,86,283,257,32,67,13,0,...,0.314,.358,.672,84,92,9,0,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1756,C,Riley Adams,27,44,158,143,8,39,13,2,...,0.331,.476,.807,120,68,5,2,1,1,NaN
1757,LF,Corey Dickerson*,34,50,152,144,12,36,7,1,...,0.283,.354,.637,76,51,3,0,0,1,NaN
1758,CF,Victor Robles,26,36,126,107,15,32,5,1,...,0.385,.364,.750,110,39,3,4,4,0,NaN
1759,CF,Jacob Young,23,33,121,107,9,27,7,1,...,0.322,.336,.658,84,36,2,1,3,0,NaN
1794,NaN,Team Totals,26.9,162,6085,5522,700,1401,279,26,...,0.314,.396,.709,95,2185,112,78,20,38,NaN

Creates a list with each position, then loops each position and finds the player with highest OBP. Then, adds them into a csv file.

In [60]:
positions = ['C', '1B', '2B', '3B','SS', 'LF', 'RF', 'CF', 'DH', 'OF']
for pos in positions:
    result = db[db['Pos']== f'{pos}']
    result_obp = result.loc[result['OBP'].idxmax()]
    result_obp.to_csv('highest_obp.csv', mode='a', header=False, index=False)

The code after this point is just double checking what the code inside the loop produces, and making sure it is correct

In [59]:
# Catcher
catchers = db[db['Pos']=='C']
catchers_obp = catchers.loc[catchers['OBP'].idxmax()]
catchers_obp

Pos                    C
Name    Adley Rutschman#
Age                   25
G                    154
PA                   687
AB                   588
R                     84
H                    163
2B                    31
3B                     1
HR                    20
RBI                   80
SB                     1
CS                     2
BB                    92
SO                   101
BA                  .277
OBP                0.374
SLG                 .435
OPS                 .809
OPS+                 128
TB                   256
GDP                   14
HBP                    2
SH                     0
SF                     5
IBB                  NaN
Name: 118, dtype: object

In [72]:
# 1B
firstbase = db[db['Pos']=='1B']
firstbase_obp = firstbase.loc[firstbase['OBP'].idxmax()]
firstbase_obp

Pos                   1B
Name    Freddie Freeman*
Age                   33
G                    161
PA                   730
AB                   637
R                    131
H                    211
2B                    59
3B                     2
HR                    29
RBI                  102
SB                    23
CS                     1
BB                    72
SO                   121
BA                  .331
OBP                 0.41
SLG                 .567
OPS                 .976
OPS+                 161
TB                   361
GDP                   14
HBP                   16
SH                     0
SF                     5
IBB                  NaN
Name: 782, dtype: object

In [62]:
# 2B
secondbase = db[db['Pos']=='2B']
secondbase_obp = secondbase.loc[secondbase['OBP'].idxmax()]
secondbase_obp

Pos                  2B
Name    Davis Schneider
Age                  24
G                    35
PA                  141
AB                  116
R                    23
H                    32
2B                   12
3B                    1
HR                    8
RBI                  20
SB                    1
CS                    0
BB                   21
SO                   43
BA                 .276
OBP               0.404
SLG                .603
OPS               1.008
OPS+                175
TB                   70
GDP                   2
HBP                   4
SH                    0
SF                    0
IBB                 NaN
Name: 1705, dtype: object

In [64]:
# 3B
thirdbase = db[db['Pos']=='3B']
thirdbase_obp = thirdbase.loc[thirdbase['OBP'].idxmax()]
thirdbase_obp

Pos               3B
Name    Jared Triolo
Age               25
G                 54
PA               209
AB               181
R                 30
H                 54
2B                 9
3B                 0
HR                 3
RBI               21
SB                 6
CS                 1
BB                24
SO                63
BA              .298
OBP            0.388
SLG             .398
OPS             .785
OPS+             116
TB                72
GDP                0
HBP                3
SH                 0
SF                 1
IBB              NaN
Name: 1280, dtype: object

In [65]:
short = db[db['Pos']=='SS']
short_obp = short.loc[short['OBP'].idxmax()]
short_obp

Pos                SS
Name    Corey Seager*
Age                29
G                 119
PA                536
AB                477
R                  88
H                 156
2B                 42
3B                  0
HR                 33
RBI                96
SB                  2
CS                  1
BB                 49
SO                 88
BA               .327
OBP              0.39
SLG              .623
OPS             1.013
OPS+              170
TB                297
GDP                 9
HBP                 4
SH                  0
SF                  6
IBB               NaN
Name: 1639, dtype: object

In [66]:
left = db[db['Pos']=='LF']
left_obp = left.loc[left['OBP'].idxmax()]
left_obp

Pos             LF
Name    Juan Soto*
Age             24
G              162
PA             708
AB             568
R               97
H              156
2B              32
3B               1
HR              35
RBI            109
SB              12
CS               5
BB             132
SO             129
BA            .275
OBP           0.41
SLG           .519
OPS           .930
OPS+           158
TB             295
GDP             18
HBP              2
SH               1
SF               5
IBB            NaN
Name: 1335, dtype: object

In [67]:
center = db[db['Pos']=='CF']
center_obp = center.loc[center['OBP'].idxmax()]
center_obp

Pos                CF
Name    Victor Robles
Age                26
G                  36
PA                126
AB                107
R                  15
H                  32
2B                  5
3B                  1
HR                  0
RBI                 8
SB                  8
CS                  1
BB                 11
SO                 18
BA               .299
OBP             0.385
SLG              .364
OPS              .750
OPS+              110
TB                 39
GDP                 3
HBP                 4
SH                  4
SF                  0
IBB               NaN
Name: 1758, dtype: object

In [68]:
right = db[db['Pos']=='RF']
right_obp = right.loc[right['OBP'].idxmax()]
right_obp

Pos                   RF
Name    Ronald Acuna Jr.
Age                   25
G                    159
PA                   735
AB                   643
R                    149
H                    217
2B                    35
3B                     4
HR                    41
RBI                  106
SB                    73
CS                    14
BB                    80
SO                    84
BA                  .337
OBP                0.416
SLG                 .596
OPS                1.012
OPS+                 168
TB                   383
GDP                   15
HBP                    9
SH                     0
SF                     3
IBB                  NaN
Name: 67, dtype: object

In [69]:
dh = db[db['Pos']=='DH']
dh_obp = dh.loc[dh['OBP'].idxmax()]
dh_obp

Pos                 DH
Name    Shohei Ohtani*
Age                 28
G                  135
PA                 599
AB                 497
R                  102
H                  151
2B                  26
3B                   8
HR                  44
RBI                 95
SB                  20
CS                   6
BB                  91
SO                 143
BA                .304
OBP              0.412
SLG               .654
OPS              1.066
OPS+               184
TB                 325
GDP                  9
HBP                  3
SH                   0
SF                   3
IBB                NaN
Name: 717, dtype: object

In [70]:
of = db[db['Pos']=='OF']
of_obp = of.loc[of['OBP'].idxmax()]
of_obp

Pos               OF
Name    Nolan Jones*
Age               25
G                106
PA               424
AB               367
R                 60
H                109
2B                22
3B                 4
HR                20
RBI               62
SB                20
CS                 4
BB                53
SO               126
BA              .297
OBP            0.389
SLG             .542
OPS             .931
OPS+             138
TB               199
GDP                1
HBP                3
SH                 0
SF                 1
IBB              NaN
Name: 489, dtype: object